
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <style>
        /* Styles for the link container */
        .link-container {
          text-align: left;
        }
      </style>
</head>
<body>
    {% block body %}{% endblock body %} 
</body>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</html>