{% extends 'base.html' %}

{%block body%}
<div class="container" style="padding-top: 100px;">
  <div class="row"> 
    <div class="col-md-4">

    </div>
    <div class="col-md-4 container " >
      <div class="form-control">
        <b style="text-align:center ;"><h3>Apollo</h3></b>
      </div>
      <div class="form-control" >
        <form action="" method="POST" >{%csrf_token%}
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"><b>User Name</b></label>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="username">
            <div id="username" class="form-text">Enter User Name Only</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"><b>Password</b></label>

            <input type="password" class="form-control" id="exampleInputPassword1" name="password">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      
    </div>
    <div class="col-md-4">
      
    </div>
  </div>
</div>
{%endblock%}
